.arrow {
    opacity: 0;
    transition: .1s ease;
}

.th:hover .arrow {
    opacity: 1;
}

.mainCheck {
    position: relative;
    top: -4px;
}

.check {
    width: 20px;
}

.link {
    width: 40px;
}