.container {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 15px));
    width: max-content;
    max-width: calc(100vw - 20px);
}

.container.active {
    transform: translate(-50%, 0);
    transition: transform .2s ease;
}